# Autotools
# ---------

# Autoscan
autoscan.log
# Autoconf
autom4te.cache/
configure
# Aclocal
aclocal.m4
# Autoheader
config.h.in
# Automake
depcomp
install-sh
missing
Makefile.in
# Configure
.deps/
Makefile
config.log
config.status
config.h
stamp-h1

# Editors
# -------

# Vim
.*.swp
.*.swo
# Emacs
*~

# C/C++/...
# -

*.i
*.o
*.a
