# Autotools
# ---------

# Autoscan
autoscan.log
# Autoconf
autom4te.cache/
configure
# Aclocal
aclocal.m4
# Autoheader
config.h.in
# Automake
depcomp
install-sh
missing

Makefile.in

# Editors
# -------

# Vim
.*.swp
.*.swo
# Emacs
*~

# C/C++/...
# -

*.i
*.o
